# Node.js
node_modules/
npm-debug.log*

# Build
app-notas-backend/build/
app-notas-frontend/build/
app-notas-frontend/dist/
app-notas-backend/dist/


# Editor de texto
.vscode/
.idea/

# Sistema operativo
.DS_Store

# .env
app-notas-backend/.env